DOMAIN=dongpolakeside.com
HNU_DATA_ROOT=/srv/hnu-forum
ANSWER_IMAGE=ghcr.io/irofahaxikk/hnu-forum
IMAGE_TAG=production

GOPROXY=https://proxy.golang.org,direct

MYSQL_DATABASE=answer
MYSQL_USER=answer
MYSQL_PASSWORD=replace_with_generated_secret
MYSQL_ROOT_PASSWORD=replace_with_generated_secret

REDIS_PASSWORD=replace_with_generated_secret
